{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Server=localhost;Database=HoundedHeart;Integrated Security=True;TrustServerCertificate=True;MultipleActiveResultSets=True"
  },
  "Jwt": {
    "Key": "0455ae70-af86-4381-895b-ea8b902380992844f887-8c02-4444-83ae-de62d222be37",
    "Issuer": "https://localhost:7194/",
    "Audience": "https://localhost:7194/",
    "DurationInMinutes": 120
  },
  "AzureBlobStorage": {
    "ConnectionString": "DefaultEndpointsProtocol=https;AccountName=YOUR_ACCOUNT;AccountKey=YOUR_KEY;EndpointSuffix=core.windows.net",
    "ContainerName": "houndheartfiles"
  },
  "GoogleAuth": {
    "WebClientId": "40391633594-b77d48eb38ajtbpq4rlqbsg6mvuvltca.apps.googleusercontent.com"
  },
  "AzureAd": {
    "ClientId": "97730d78-24c9-4c0c-b88b-5374b1e3e6c2",
    "TenantId": "2da95c53-29eb-4f80-b933-5aa77c2cfd92",
    "ClientSecret": "YOUR_CLIENT_SECRET_HERE",
    "ObjectId": "abf060f9-ae5f-453f-af30-fcfb4a64745d"
  },
  "Stripe": {
    "SecretKey": "sk_test_YOUR_STRIPE_SECRET_KEY",
    "PublishableKey": "pk_test_51T8yoxPQgwfxZaRu1sHOGdljRLhsRfN0G0b6wVGzHe5QvegKhl2AlWKCcREq4atdoIraJjfSGAUwQxC4yezECd5v00GtJHVpoM",
    "WebhookSecret": "",
    "MonthlyPriceId": "price_1T90PHPQgwfxZaRuH9nPQwPm",
    "YearlyPriceId": "price_1T9MtTPQgwfxZaRufPNKtwHl",
    "SuccessUrl": "http://localhost:5173/subscription/success?session_id={CHECKOUT_SESSION_ID}",
    "CancelUrl": "http://localhost:5173/subscription/cancel",
    "PortalReturnUrl": "http://localhost:5173/subscription"
  }
}
